<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Post</title>
  </head>
  <body>
      <form action="/posts" method="post">
        <p><input type="text" name="post[name]" value="name" id="name"></p>
        <p><input type="text" name="post[content]" id="content"></p>
        <p><input type="submit" name="submit" id="submit"></p>
      </form>
  </body>
</html>
